body {
	background: #2e2e05;
	background: linear-gradient(to right, rgb(8, 53, 61), rgb(63, 7, 54));
	color: white;
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.card::after {
	content: "";
	display: block;
	width: 50%;
	height: 45%;
	border-radius: 100%;
	background-color: #fff;
	opacity: .7;
	position: absolute;
	top: 15%;
	left: 25%;
}

.steel {
	background-color: #f4f4f4;
}

.fire {
	background-color: #FDDFDF;
}

.grass {
	background-color: #DEFDE0;
}

.electric {
	background-color: #FCF7DE;
}

.water,
.ice {
	background-color: #DEF3FD;
}

.ground {
	background-color: #f4e7da;
}

.rock {
	background-color: #d5d5d4;
}

.fairy {
	background-color: #fceaff;
}

.poison {
	background-color: #98d7a5;
}

.bug {
	background-color: #f8d5a3;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #eaeda1;
}

.flying {
	background-color: #F5F5F5;
}

.fighting {
	background-color: #E6E0D4;
}

.ghost {
	background-color: #ae92b9;
}

.normal {
	background-color: #F5F5F5;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

.options {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 2rem 0;
}

.options button {
	margin: 0 1.5rem;
	cursor: pointer;
	padding: .5rem 1rem;
	font-size: 1rem;
	font-weight: bold;
	background: none;
	border: none;
	color: #fff;
	transition: .3s;
}

.options button:first-child {
	background-color: green;
}

.options button:last-child {
	background-color: red;
}

.options button:hover {
	transform: scale(1.2);
}

@keyframes bounce {
	20% {
		transform: translateY(-6px);
	}

	40% {
		transform: translateY(0px);
	}

	80% {
		transform: translateY(-2px);
	}

	100% {
		transform: translateY(0);
	}
}